<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger">
                <strong>Pomembno obvestilo</strong><br><br>
                VPIS BO POTEKAL, 2.9.2015 OB 18.15 ZA OŠ ŠKOFJA LOKA - MESTO (ATLETSKI STADION). VABLJENI!
            </div>
        </div>
    </div>
</div>
